COMPOSE_PROJECT_NAME=yak-ops-postgresql
POSTGRES_DB=data_ops
POSTGRES_USER=data_ops
POSTGRES_PASSWORD=
POSTGRES_HOST_PORT=5432
YAK_OPS_PORT=9001
YAK_SECURITY_BOOTSTRAP_USERNAME=root
YAK_SECURITY_BOOTSTRAP_PASSWORD=
YAK_OPS_DATASOURCE_MASTER_KEY=
JAVA_OPTS=-Xms512m -Xmx1024m
